<div class="modal-info">
        <form class="form-horizontal" name="">
            <div class="modal-header">
                <h3 class="modal-title">Add a new Vehicle</h3>
            </div>
            <div class="modal-body">
                
            </div>
            <div class="modal-footer">
                    <button class="btn btn-warning pull-left" type="button" ng-click="cancel()">Cancel</button>
                <button class="btn btn-primary pull-right" type="button" ng-click="ok()">Submit</button>
               
            </div>
        </form>
</div>
    