<!-- <div class="content-wrapper"> -->
<!-- Content Header (Page header) -->
<section class="content-header">
  <h1>
        Dashboard
      </h1>
</section>

<!-- Main content -->
<section class="content" ng-init="getOrdersCount()">
  <!-- Small boxes (Stat box) -->
  <div class="row">
    <div class="col-lg-3 col-xs-6" ng-repeat="count in counts">
      <!-- small box -->
      <div class="small-box " ng-style="{'background-color': getBgColor($index)}">
        <div class="inner">
          <h3>{{count.count}}</h3>

          <p> {{count.category =="WIP" ? "Work In Progress" : count.category}} Tickets</p>
        </div>
        <div class="icon">
          <i class="fa fa-edit"></i>
        </div>
        <a href="" ui-sref="orders({status:count.category})" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
      </div>
    </div>
    <!-- ./col -->
    <div class="col-lg-3 col-xs-6">
      <div class="small-box bg-aqua">
        <div class="inner">
          <h3>15</h3>
          <p>Resolved Tickets (To DO)</p>
        </div>
        <div class="icon">
          <i class="fa fa-edit"></i>
        </div>
        <a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
      </div>
    </div>


    <div class="col-lg-3 col-xs-6">
      <!-- small box -->
      <div class="small-box bg-green">
        <div class="inner">
          <h3>20</h3>

          <p>Service Engineers (To DO)</p>
        </div>
        <div class="icon">
          <i class="fa fa-car"></i>
        </div>
        <a href="" ui-sref="serviceEngineers" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
      </div>
    </div>
    <!-- ./col -->
    <div class="col-lg-3 col-xs-6">
      <!-- small box -->
      <div class="small-box bg-yellow">
        <div class="inner">
          <h3>44</h3>

          <p>User (To DO)</p>
        </div>
        <div class="icon">
          <i class="fa fa-users"></i>
        </div>
        <a href="" ui-sref="users" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
      </div>
    </div>
  </div>
</section>
