<section class="content-header m-b-40">
    <h1>
      Order System

    </h1>
    <div id="preloader" ng-if="showPreloader">
        <div id="status"><i class="fa fa-spinner fa-spin"></i></div>
      </div>
</section>
<section  ng-init="getOrderByStatus()">
  <div class="row">
    <div class="col-md-10 col-xs-12 col-md-offset-1">
      <div class="row">
        <div class="col-xs-12">
          <div class="box box-info">
            <div class="box-body over-x-sc">
              <div class="table-responsive">
                <table ng-table="orderData" class="table table-bordered table-hover">
                  <tr ng-repeat="row in $data" >
                    <td data-title="'Order Id'" filter="{ 'orderId': 'text'}" sortable="'orderId'">{{row.orderId}}</td>
                    <td data-title="'Contact No.'" filter="{ 'contactNbr': 'text'}" sortable="'contactNbr'">{{row.contactNbr}}</td>
                    <td data-title="'User Name'" filter="{ 'userName': 'text'}"  sortable="'userName'">{{row.userName}}</td>
                    
                    <td data-title="'Service Date'" filter="{ 'serviceDate': 'text'}" sortable="'serviceDate'">{{row.serviceDate }}</td>
                    <td data-title="'Total price'" sortable="'totalPrice'" style="white-space:nowrap">{{row.totalPrice}}</td>
                    <td data-title="'Action'">
                       <div class="btn-group">
                            <button type="button" class="btn btn-primary"><a href="" class="option-btn" ui-sref="ticketDetails(row)">Details</a>
                            </button>
                        </div>
                    </td>
                  </tr>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
