<section class="content-header m-b-40">
    <h1>
      Order System

    </h1>
    <div id="preloader" ng-if="showPreloader">
        <div id="status"><i class="fa fa-spinner fa-spin"></i></div>
      </div>
</section>
<section  ng-init="getOrders()">
  <div class="row">
    <div class="col-md-10 col-xs-12 col-md-offset-1">
      <div class="row">
        <div class="col-xs-12">
          <div class="box box-info">
            <div class="box-body over-x-sc">
              <div class="table-responsive">
                <table ng-table="orderData" class="table table-bordered table-hover">
                  <tr ng-repeat="row in $data" >
                    <td data-title="'UserId'" filter="{ 'UserId': 'text'}"  sortable="'UserId'">{{row.userId}}</td>
                    <td data-title="'Order Id'" filter="{ 'orderId': 'text'}" sortable="'orderId'">{{row.orderId}}</td>
                    <td data-title="'Status'" filter="{ 'requestStatus': 'text'}" sortable="'requestStatus'">{{row.requestStatus}}</td>
                    <td data-title="'Vehicle'" filter="{ 'usrVehicle.vehicle.make': 'text'}" sortable="'usrVehicle.vehicle.make'">{{row.usrVehicle.vehicle.make + " " + row.usrVehicle.vehicle.models }}</td>
                    <td data-title="'Total price'" sortable="'totalPrice'">{{row.totalPrice}}</td>
                    <td data-title="'Action'">
                       <div class="btn-group">
                            <button type="button" class="btn btn-primary"><a href="" class="option-btn" ui-sref="ticketDetails(row)">Details</a>
                            </button>
                        </div>
                    </td>
                  </tr>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
