<section class="content-header m-b-40">
    <h1>
      User Details

    </h1>
  </section>
  <section class="content" ng-init="getUserDetails()">
      <div class="row">
          <div class="col-sm-10 col-md-offset-1">
            <form class="form-horizontal" name="update">
                <div class="box box-info ">
                    <div class="box-header with-border">
                        <h3 class="box-title">Update Your Profile Here</h3>
                    </div>
                    <div class="box-body">
                        <div class="row">
                            <div class="col-xs-6">
                                <div class="form-group has-feedback" ng-class="{'has-error':(update.fname.$touched && update.fname.$invalid) ||(update.fname.$error.pattern && !update.fname.$pristine)}">
                                    <label for="fname" class="col-sm-3 control-label">First Name:</label>
                                    <div class="col-sm-9">
                                        <input type="text" name="fname" ng-model="user.firstName" class="form-control" placeholder="First Name" required ng-pattern="/^[a-zA-Z ]*$/">
                                        <span class="help-block" ng-show="update.fname.$error.required && update.fname.$touched">First Name is required</span>
                                        <span class="help-block" ng-show="update.fname.$error.pattern && !update.fname.$pristine">Please Enter Valid First Name(Only Alphabets Allowed)</span>
                                    </div>
                                </div>
                                <div class="form-group has-feedback" ng-class="{'has-error':update.mname.$error.pattern && !update.mname.$pristine}">
                                    <label for="mname" class="col-sm-3 control-label">Middle Name:</label>
                                    <div class="col-sm-9">
                                        <input type="text" name="mname" ng-model="user.middleName" class="form-control" placeholder="Middle Name"  ng-pattern="/^[a-zA-Z ]*$/">
                                        <!-- <span class="help-block" ng-show="update.mname.$error.required && update.mname.$touched">Middle Name is required</span> -->
                                        <span class="help-block" ng-show="update.mname.$error.pattern && !update.mname.$pristine">Please Enter Valid Middle Name(Only Alphabets Allowed)</span>
                                    </div>
                                </div>
                                <div class="form-group has-feedback" ng-class="{'has-error':(update.lname.$touched && update.lname.$invalid) || (update.lname.$error.pattern && !update.lname.$pristine)}">
                                    <label  class="col-sm-3 control-label">Last Name:</label>
                                    <div class="col-sm-9">
                                        <input type="text" name="lname" ng-model="user.lastName" class="form-control" placeholder="Name" required ng-pattern="/^[a-zA-Z ]*$/">
                                        <span class="help-block" ng-show="update.lname.$error.required && update.lname.$touched">Last Name is required</span>
                                        <span class="help-block" ng-show="update.lname.$error.pattern && !update.lname.$pristine">Please Enter Valid Last Name(Only Alphabets Allowed)</span>
                                    </div>
                                </div>

                                <div class="form-group" ng-class="{'has-error':(update.user_email.$touched && update.user_email.$invalid) || (update.user_email.$error.pattern && !update.user_email.$pristine)}">
                                            <label  class="col-sm-3 control-label">Email:</label>
                                    <div class="col-sm-9">
                                        <input type="email" name="user_email" ng-model="user.email" class="form-control" placeholder=" Email " required ng-pattern="/\S+@\S+\.\S+/">
                                        <span class="help-block" ng-show="update.user_email.$error.required && update.user_email.$touched">Email is required</span>
                                        <span class="help-block" ng-show="update.user_email.$error.pattern && !update.user_email.$pristine">Please Enter Valid Email</span>
                                    </div>
                                </div>
                                <div class="form-group" ng-class="{'has-error':update.gender.$error.required && update.gender.$touched }">
                                    <label for="gender" class="col-sm-3 control-label">Gender:</label>
                                    <div class="col-sm-9">
                                        <select class="form-control" name="gender" ng-model="user.gender" required>
                                            <option value=""><i class="fa fa-sort-desc">Gender</i></option>
                                            <option value="M">Male</option>
                                            <option value="F">Female</option>
                                            <option value="O">Others</option>
                                        </select>
                                        <span class="help-block" ng-show="update.gender.$error.required && update.gender.$touched">Please select gender</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-6">
                                <div class="form-group has-feedback" ng-controller="DatePickerCtrl">
                                        <label for="lname" class="col-sm-3 control-label">DOB:</label>
                                        <div class="col-sm-9">

                                            <input type="text" class="form-control" name="dob" placeholder="01 Jan, 2017" ng-model="user.dob" datepicker-popup="dd MMM, yyyy" datepicker-options="dateOptions"  is-open="opened"  max-date="dt" date-disabled="disabled(date, mode)" ng-click="open1($event)" close-text="Close"/>
                                            <!-- <span class="help-block" ng-show="update.dob.$error.required && update.dob.$touched">DOB is required</span> -->
                                        </div>
                                </div>
                                <div class="form-group has-feedback" ng-class="{'has-error':update.mobile.$touched && update.mobile.$invalid}">
                                    <label for="pass" class="col-sm-3 control-label">Mobile:</label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control" name="mobile" ui-mask="999-999-9999" placeholder="xxx-xxx-xxxx" ng-model="user.contactNbr" required>
                                        <!-- <input type="text" class="form-control" name="mobile" ng-model="user.mobile" placeholder="Mobile" required ng-pattern="/^[0-9]{10,10}$/"> -->
                                        <span class="help-block" ng-show="update.mobile.$error.required && update.mobile.$touched">Mobile is required</span>
                                    </div>
                                </div>
                                <div class="form-group has-feedback" ng-class="{'has-error':update.telephone.$touched && update.telephone.$invalid}">
                                    <label for="pass" class="col-sm-3 control-label">Telephone:</label>
                                    <div class="col-sm-9">
                                        <!-- <input type="text" class="form-control" name="telephone" ng-model="user.telephone" placeholder="Telephone(optional)" ng-pattern="/^[0-9]{10,10}$/"> -->
                                        <input type="text" class="form-control" name="telephone" ui-mask="999-999-9999" placeholder="xxx-xxx-xxxx" ng-model="user.alternateContactNbr">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="gender" class="col-sm-3 control-label">Marital Status:</label>
                                    <div class="col-sm-9">
                                        <select class="form-control" name="marital_status" ng-model="user.maritalStatus">
                                            <option value=""><i class="fa fa-sort-desc">MARITAL STATUS</i></option>
                                            <option value="1">Married</option>
                                            <option value="0">Unmarried</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group"  ng-if="user.maritalStatus =='1'" ng-controller="DatePickerCtrl">
                                    <label class="col-sm-3 control-label">Anniversary date</label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control" name="anniversary" placeholder="01 Jan, 2017" ng-model="user.anniversaryDate" datepicker-popup="dd MMM, yyyy" datepicker-options="dateOptions"  is-open="opened"  max-date="dt" date-disabled="disabled(date, mode)" ng-click="open1($event)" close-text="Close"/>
                                        <!-- <span class="help-block" ng-show="update.dob.$error.required && update.dob.$touched">DOB is required</span> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="box box-success ">
                    <div class="box-header with-border">
                        <h3 class="box-title">Adress:</h3>
                    </div>
                    <div class="box-body">
                        <div class="row">
                            <div class="col-xs-12 col-sm-6 col-md-3" ng-class="{'has-error':update.houseNo.$touched && update.houseNo.$invalid}">
                                <input type="text" class="form-control" placeholder="House No " name="houseNo" ng-model="user.address[0].houseNbr" required>
                                <span class="help-block" ng-show="update.houseNo.$error.required && update.houseNo.$touched"> cannot be empty</span>
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-3" ng-class="{'has-error':update.locality.$touched && update.locality.$invalid}">
                                <input type="text" class="form-control" placeholder="Locality/Street " name="locality" ng-model="user.address[0].locality" required>
                                <span class="help-block" ng-show="update.locality.$error.required && update.locality.$touched"> cannot be empty</span>
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-3" ng-class="{'has-error':update.city.$touched && update.city.$invalid}">
                                <input type="text" class="form-control" placeholder="City" name="city" ng-model="user.address[0].city" required>
                                <span class="help-block" ng-show="update.city.$error.required && update.city.$touched"> cannot be empty</span>
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-3" ng-class="{'has-error':update.state.$touched && update.state.$invalid}" ng-init="getAllStates()">
                                <select class="form-control" name="state" ng-model="user.address[0].state" ng-options="state.stateName as state.stateCd for state in stateList" ng-change="getDistrict(user)" required>
                                    <!-- <option value="" ng-selected><i class="fa fa-sort-desc">State</i></option>
                                    <option ng-value="states.stateCd" ng-repeat="states in stateList" >{{states.stateCd}}</option> -->
                                </select>
                                <span class="help-block" ng-show="update.state.$error.required && update.state.$touched"> cannot be empty</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 col-sm-6 col-md-3" ng-class="{'has-error':update.district.$touched && update.district.$invalid}" ng-init="getAllStates()">
                                <select class="form-control" name="district" ng-model="user.address[0].district"  ng-options="district as district for district in districtList" required>
                                    <!-- <option value="" ng-selected><i class="fa fa-sort-desc">District</i></option>
                                    <option ng-value="states.stateCd" ng-repeat="districts in districtList" >{{districts}}</option> -->
                                </select>
                                <span class="help-block" ng-show="update.district.$error.required && update.district.$touched"> cannot be empty</span>
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-3" ng-class="{'has-error':update.country.$touched && update.country.$invalid}">
                                <input type="text" class="form-control" placeholder="Country" name="country" ng-model="user.address[0].country" required>
                                <span class="help-block" ng-show="update.country.$error.required && update.country.$touched"> cannot be empty</span>
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-3" ng-class="{'has-error':update.pin.$touched && update.pin.$invalid}">
                                <input type="text" class="form-control" placeholder="000000" name="pin" ng-model="user.address[0].zip" ui-mask="999999" >
                                <span class="help-block" ng-show="update.pin.$error.required && update.pin.$touched">Please Enter Pin</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="box box-success div-vehicle-details">
                    <div class="box-header with-border">
                        <h3 class="box-title">Vechile Details:</h3>
                        <button type="button"  class="btn btn-success pull-right" ng-click="addVehicle()">
                            <i class="fa fa-plus"></i> Add new Vehicle
                        </button>
                    </div>
                    <div class="box-body">
                        <div class="row">
                            <div class="table-responsive">
                                <table ng-table="vehicleData" class="table table-bordered table-hover table-t-a-c">
                                    <tr ng-repeat="row in $data" style="text-align:center">
                                        <td data-title="'Sl No'" ng-class="{'not-covered':!row.isCover}">{{ $index + 1}}</td>
                                        <td data-title="' Make '">{{row.vehicle.make}}</td>
                                        <td data-title="' Model'">{{row.vehicle.models}}</td>
                                        <td data-title="' Regd.No'">{{row.registrationNumber}}</td>
                                        <td data-title="'Insurance Type'">{{row.insuranceType}}</td>
                                        <td data-title="'Action'">
                                            <div class="btn-group">
                                                <button type="button" class="btn btn-success"><a href="" class="option-btn" ng-click="isCollapsed = !isCollapsed" >Details</a>
                                                </button>
                                            </div>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>

<div class="box-footer">
        <button type="submit" class="btn btn-default"  ui-sref="user-profile">Back</button>
        <button type="submit" ng-disabled="update.$invalid" class="btn btn-info pull-right" ng-click="profileUpdate()">Submit</button>
  </div>
